<super-navbar>
  <super-navbar-title>
    $h_halløWorld
  </super-navbar-title>
</super-navbar>

<div id="new-card">
  <super-navigate view-id="new-card">
    <button class="button button-outline button-large button-positive" ng-click="newCard()">
      new card
    </button>
  </super-navigate>
</div>

<div id="my-cards">
  my cards
</div>

<div class="list">
  <div class="item item-divider">
    Today
  </div>
  <a class="item item-thumbnail-left" href="#">
    <img src="/images/card0.jpg">
    <h2>Benjamin Dover</h2>
    <p>Marcohard Corp.</p>
    <p>ben@macrohard.com</p>
  </a>
  <a class="item item-thumbnail-left" href="#">
    <img src="/images/card1.jpg">
    <h2>Jack Goff</h2>
    <p>Pear, Inc.</p>
    <p>jack@pear.com</p>
  </a>

  <div class="item item-divider">
    Yesterday
  </div>
  <a class="item item-thumbnail-left" href="#">
    <img src="/images/card2.jpg">
    <h2>Peter Ennis</h2>
    <p>PlungeContainer, Inc.</p>
    <p>peter@plungecontainer.com</p>
  </a>
</div>