<div ng-controller="EditController">
  <super-navbar>
    <super-navbar-button class="navbar-back" ng-click="cancel()">
      Cancel
    </super-navbar-button>
    <super-navbar-title class="navbar-title">
      EDIT CARD
    </super-navbar-title>
  </super-navbar>

  <div id="camera">
    <img id="editCardImageFront" src={{card.get("dataURLFront")}} title="Add Card Image (Front)" ng-click="CameraTappedFront()">
    <img id="editCardImageBack" src={{card.get("dataURLBack")}} title="Add Card Image (Back)" ng-click="CameraTappedBack()">
  </div>

  <div class="list list-inset">
    
    <label class="item item-input" name="nameLabel">
      <span class="input-label">Name</span>
      <input type="text" value={{card.get('name')}} placeholder="Name" id="editName">
    </label>
    
    <label class="item item-input">
      <span class="input-label">Company</span>
      <input type="text" value={{card.get('company')}} placeholder="Company" id="editCompany">
    </label>
    
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" value={{card.get('email')}} placeholder="Email" id="editEmail">
    </label>
  
    <label class="item item-input">
      <span class="input-label">Notes</span>
      <input type="text" value={{card.get('tags')}} placeholder="Notes" id="editTags">
    </label>
    

    <br>

    <ul class="list">
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="sentEmail">
         </label>
         Sent Initial Email
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="resume">
         </label>
         Emailed a Resume
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="interview">
         </label>
         Received an Interview
      </li>
    </ul>

    <br>

    <button class="button button-block button-positive" ng-click="save()">Save</button>

  </div>
</div>
