<div ng-controller="EditController">
  <super-navbar>
    
    <super-navbar-button class="navbar-back" ng-click="cancel()">
      Cancel
    </super-navbar-button>

    <super-navbar-title class="navbar-title">
      EDIT CARD
    </super-navbar-title>

    <super-navbar-button side="right" ng-click="save()")>
      Save
    </super-navbar-title>

  </super-navbar>

  <div id="new-camera">
    <img id="editCardImageFront" src={{card.get("dataURLFront")}} title="Add Card Image (Front)" ng-click="CameraTappedFront()">
    <img id="editCardImageBack" src={{card.get("dataURLBack")}} title="Add Card Image (Back)" ng-click="CameraTappedBack()">
  </div>


  <div class="list list-inset">
    
    <label class="item item-input" name="nameLabel">
      <span class="input-label">Name</span>
      <input type="text" value={{card.get('name')}} placeholder="name of card owner" id="editName">
    </label>
    
    <label class="item item-input">
      <span class="input-label">Company</span>
      <input type="text" value={{card.get('company')}} placeholder="company title" id="editCompany">
    </label>
    
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" value={{card.get('email')}} placeholder="email" id="editEmail">
    </label>
  
    <label class="item item-input">
      <span class="input-label">Notes</span>
      <input type="text" value={{card.get('tags')}} placeholder="e.g. how and where you met" id="editTags">
    </label>
    

    <br>

    <ul class="list">
      <li class="item item-checkbox" >
         <label class="checkbox checkbox-positive">
           <input type="checkbox" id="sentEmail">
         </label>
         Sent Followup Email
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox checkbox-balanced">
           <input type="checkbox" id="applied">
         </label>
         Applied for a Position
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox checkbox-energized">
           <input type="checkbox" id="referred">
         </label>
         Referred
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox checkbox-royal">
           <input type="checkbox" id="meeting">
         </label>
         Set up a Meeting
      </li>
    </ul>

    <br>

    <button class="button button-block button-positive" ng-click="save()">Save</button>

  </div>
</div>
