<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Card Index
    </super-navbar-title>
  </super-navbar>

  <div id="new-card">
    <super-modal-show location="card#new">
      <button class="button button-outline button-large button-positive">
        NEW CARD
      </button>
    </super-modal-show>
  </div>

  <div class="item item-icon-right" id="my-cards">
    My Cards
    <i class="icon super-search" ng-click="OnSearchClick()"></i>
  </div>

  <div class="list" id="searchBox" style="display:none">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Search Query" id="filterText">
      </label>
      <button class="button button-small button-balanced" ng-click="Filter()">
        Search
      </button>
    </div>
  </div>

<!--   <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner"> -->
    <ul class="list" id="list">
      <!-- Filled out by JavaScript in IndexController.js -->
    </ul>

  </div>
</div>
