<div ng-controller="NewController">
  <super-navbar>
    <super-navbar-button class="navbar-back" ng-click="cancel()">
      Cancel
    </super-navbar-button>
    <super-navbar-title class="navbar-title">
      New Card
    </super-navbar-title>
  </super-navbar>

  <!-- <div ng-show="showSpinner" ng-include="'_spinner.html'"></div> -->
  <div id="camera">
    <img id="cardImageFront" src="/images/camera.jpg" ng-click="CameraTappedFront()">
    <img id="cardImageBack" src="/images/camera.jpg" ng-click="CameraTappedBack()">
  </div>
  <!-- <form ng-hide="showSpinner" ng-submit="submitForm()" ng-include="'_form.html'"></form> -->

  <div class="list list-inset">

  
  <label class="item item-input" id="nameLabel">
    <span class="input-label">name</span>
    <input type="text" placeholder="Name" id="name">
  </label>
  
  <label class="item item-input">
    <span class="input-label">company</span>
    <input type="text" placeholder="Company" id="company">
  </label>
  
  <label class="item item-input">
    <span class="input-label">email</span>
    <input type="text" placeholder="Email" id="email">
  </label>
  
  <label class="item item-input">
    <span class="input-label">notes</span>
    <input type="text" placeholder="Notes" id="tags">
  </label>

  <br>
  
   <ul class="list">
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="sentEmail">
         </label>
         Sent Initial Email
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="resume">
         </label>
         Emailed a Resume
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" id="interview">
         </label>
         Received an Interview
      </li>
    </ul>

  <br>

  <button class="button button-block button-positive" ng-click="SaveTapped()">Save</button>

  </div>

</div>
