<div ng-controller="ViewController">
  <super-navbar>
    <super-navbar-title class="navbar-title">
      <ng-bind="card.get('name')" id="TEST">
    </super-navbar-title>

    <super-navbar-button ng-click="OpenEdit(card.id)" side="right">Edit</super-navbar-button>

  </super-navbar>

  <div class="padding">
    <h2 ng-bind="card.get('name')" id="TEST"></h2>
    <p>company: <span ng-bind="card.get('company')"></span></p>
    <p>email: <span ng-bind="card.get('email')"></span></p>
    <p>notes: <span ng-bind="card.get('tags')"></span></p>
    
    <div id="badges"></div>

    <div class="camera">
      <img src={{card.get("dataURLFront")}}>
      <img src={{card.get("dataURLBack")}}>
    </div>

    <button ng-click="remove(card.id)" class="button button-block button-negative">
      Remove
    </button>
  </div>

</div>
