<div ng-controller="ViewController">
  <super-navbar>
    <super-navbar-title class="navbar-title">
      <ng-bind="card.get('name')">
    </super-navbar-title>

    <super-navbar-button ng-click="OpenEdit(card.id)" side="right">
    Edit
    </super-navbar-button>

  </super-navbar>

  <div class="padding">
    <h2 ng-bind="card.get('name')" id="TEST"></h2>
    <p>Company: <span ng-bind="card.get('company')"></span></p>
    <p>Email: <span ng-bind="card.get('email')"></span></p>
    <p>Notes: <span ng-bind="card.get('tags')"></span></p>
    
    <ul class="list card">
      <li class="item item-checkbox" id="badgesList">
         <label class="checkbox">
           <input type="checkbox" id="sentEmail" style="border: 1px solid blue; border-radius: 50%;" disabled="disabled">
         </label>
         Sent Followup Email
      </li>
      <li class="item item-checkbox" id="badgesList">
         <label class="checkbox">
           <input type="checkbox" id="applied" style="border: 1px solid green; border-radius: 50%;" disabled="disabled">
         </label>
         Applied for a Position
      </li>
      <li class="item item-checkbox" id="badgesList">
         <label class="checkbox">
           <input type="checkbox" id="referred" style="border: 1px solid yellow; border-radius: 50%;" disabled="disabled">
         </label>
         Referred
      </li>
      <li class="item item-checkbox" id="badgesList">
         <label class="checkbox">
           <input type="checkbox" id="meeting" style="border: 1px solid purple; border-radius: 50%;" disabled="disabled">
         </label>
         Set up a Meeting
      </li>
    </ul>

    <!-- <div id="badges"></div> -->

    <div class="camera">
      <img src={{card.get("dataURLFront")}}>
      <img src={{card.get("dataURLBack")}}>
    </div>

    <button ng-click="remove(card.id)" class="button button-block button-assertive">
      Remove
    </button>
  </div>

</div>
