.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

#new-card button {
  width: 80%;
  margin: 15px 10%;
  border-radius: 10px;
  moz-border-radius: 10px;
  webkit-border-radius: 10px;
}

#my-cards {
  background-color: #9FC5E7;
  color: white;
  font-family: helvetica;
  font-size: x-large;
  margin: 0;
  padding: 15px;
}

.item h2 {
	margin: 5px 0;
}

#camera img {
  width: 100%;
}

#submitButton {
  width: 80%;
  margin: 15px 10%;
}